$margin: 16px;
$cpostfont: green;
$cpostbk: #c2c5ff;

.posts {
  dt {
     color: #244;
     font-weight: bold;
     font-size: larger;
     }
  color: $cpostfont;
  background: $cpostbk;
  .list_actions{
    background: yellow;
    font-weight: bold;
    text-align: right;
  }
}

.border{
  border-color: blue;
}
