<!DOCTYPE html>
<html>
<a href="http://www.host96.ru" alt="Бесплатный хостинг HOST96.ru" target="_host96">Бесплатный хостинг HOST96.ru</a>
<head>
  <title>Rusrails</title>
<!--   <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> -->
</head>
<body style="background: #EEEEEE;">

<%= yield %>

</body>
</html>
