<!DOCTYPE html>
<html>
<title>Form: <%= controller.action_name %></title>

<a href="http://www.host96.ru" alt="Бесплатный хостинг HOST96.ru" target="_host96">Бесплатный хостинг HOST96.ru</a>
<head>
  <title>Rusrails</title>
</head> 

<body class='<%= controller.controller_name %>'>

<%= yield %>

</body>

  
</body>

</html>
